.gradient-text {
  background: linear-gradient(to top, #f9620d, #fad087);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Make the text color transparent so the gradient shows through */
  display: inline-block; /* Required for gradients on text */
}
